<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		title Список страниц
	body
		ul
			li
				a(href="main.html") Главная
			li
				a(href="iphone10.html") iPhone 10
			li
				a(href="iphone.html") iPhone
			li
				a(href="glass.html") Ремонт стекла
