.do
	.case
		.do__title.title Ремонт Apple по высочайшим стандартам
		.do__subtitle Ремонт, после которого сохраняется заводская гарантия
		.do__wrap.row.i-top
			.do__text
				ul
					li При ремонте чистим сеточки динамиков изнутри. Звук снова будет чистым и громким
					li Фиксируем датчикии фронтальную камеру ровно по центру
					li Ставим все необходимые уплотнители, чтобы камеры не запылились, а кнопки нажимались так же четко
					li Ставим новые влагозащитные проклейки, чтобы сохранить защиту от воды
					li Используем оригинальные клеевые основы для аккумуляторов, а не обычный двухсторонний скотч
					li Ваш iPhone останется таким же, каким он был изначально. Не только снаружи, но и внутри. Без пылинок и отпечатков пальцев
			.do__data
				.do__price.subtitle И все это за 6500 рублей
				.do__desc Все запчасти и расходники включены в стоимость 
				.do__icons.icons
					.icons__list.row
						.icons__item
							.icons__icon #[img(src="upload/icons/certificate-red.svg ", alt="")]
							.icons__text Гарантия: #[br]3 месяца по договору
						.icons__item
							.icons__icon #[img(src="upload/icons/clock-red.svg", alt="")]
							.icons__text Срок: 1 день
				.do__form
					.do__input.input.--line.--md.--phone
						input.input__area(placeholder="Ваш номер телефона")
					button.do__btn.btn.--red.--md получить ремонт высочайшего качества
				.do__contact.contact
					.contact__title или напишите нам в мессенджер
					.contact__socials.socials.mla
						include socials
