footer.footer
	.case
		.footer__top.row.i-mid
			a.footer__logo.logo(href="") #[img(src="upload/logo.png", alt="")]
			.footer__desc Ремонт техники Apple в Нижнем Новгороде
			.footer__methods.methods
				.methods__title Принимаем к оплате:
				.methods__list.row
					.methods__item #[img(src="upload/icons/visa.svg", alt="")]
					.methods__item #[img(src="upload/icons/visa-electron.png", alt="")]
					.methods__item #[img(src="upload/icons/mastercard.svg", alt="")]
					.methods__item #[img(src="upload/icons/maestro.svg", alt="")]
		.footer__bottom.row.i-mid
			.footer__copy © Stanisla! 2003-2020. Все права защищены
			.footer__dev
				| Сайт разработан в #[a(href="" target="_blank") [malevich]]


.bg-mobile


.popup.--sm#popup-consult
	.popup__title Консультация
	.popup__wrap
		.popup__input.input.--line.--sm
			input.input__area(placeholder="Ваше имя")
		.popup__input.input.--line.--sm.--phone
			input.input__area(placeholder="Номер телефона")
		button.popup__btn.btn.--red.--md Отправить заявку

.popup.--sm#popup-order
	.popup__title Оставить заявку
	.popup__wrap
		.popup__input.input.--line.--sm
			input.input__area(placeholder="Ваше имя")
		.popup__input.input.--line.--sm.--phone
			input.input__area(placeholder="Номер телефона")
		button.popup__btn.btn.--red.--md Отправить заявку

.popup.--sm#popup-order
	.popup__title Обратный звонок
	.popup__wrap
		.popup__input.input.--line.--sm
			input.input__area(placeholder="Ваше имя")
		.popup__input.input.--line.--sm.--phone
			input.input__area(placeholder="Номер телефона")
		button.popup__btn.btn.--red.--md Отправить заявку

.popup.--sm#popup-thanks
	.popup__title Спасибо!
	.popup__text Ваша заявка успешно отправлена.
