.mobile-nav
	.case
		.mobile-nav__wrap.row.i-mid
			a.mobile-nav__logo(href="") #[img(src="upload/logo.png", alt="")]
			.mobile-nav__hum.hum #[span]#[span]#[span]
header.header
	.header__panel.panel
		.case
			.panel__wrap.row.i-mid
				a.panel__logo.logo(href="") #[img(src="upload/logo.png", alt="")]
				.panel__desc Ремонт техники Apple в Нижнем Новгороде
				.panel__contacts.p-contacts
					.p-contacts__item
						.p-contacts__icon #[img(src="upload/icons/location-pin.svg", alt="")]
						.p-contacts__text ул. Минина 22/4
					.p-contacts__item
						.p-contacts__icon #[img(src="upload/icons/clock.svg", alt="")]
						.p-contacts__text Пн-Dc с 9:00 до 22:00
				.panel__call
					.panel__phone #[img(src="upload/icons/call-answer.svg", alt="")] #[a(href="tel:8 (910) 104-85-77") 8 (910) 104-85-77]
					.panel__link #[a(data-fancybox data-src="#popup-consult" href="javascript:;") Бесплатная консультация]
	nav.header__nav.nav
		.case
			.nav__list
				ul
					li
						a(href="") Ремонт iPhone
					li
						a(href="") Ремонт iPad
					li
						a(href="") Ремонт Mac
					li
						a(href="") О компании
					li
						a(href="") Trade-in
					li
						a(href="") Юр. лицам
					li
						a(href="") Отзывы
					li
						a(href="") Контакты
