.center.row
	.center__left
		.center__wrap
			.center__content
				.center__title.title.--left Уютный Центр Станисла на Минина
			.center__nav.desc
				.desc__list
					.desc__item
						.desc__title.subtitle Следите за процессом ремонта
						.desc__text Мастера выполняют ремонт в застекленной зоне, а значит, вы можете видеть весь процесс
					.desc__item
						.desc__title.subtitle Следите за процессом ремонта
						.desc__text Мастера выполняют ремонт в застекленной зоне, а значит, вы можете видеть весь процесс
					.desc__item
						.desc__title.subtitle Следите за процессом ремонта
						.desc__text Мастера выполняют ремонт в застекленной зоне, а значит, вы можете видеть весь процесс
					.desc__item
						.desc__title.subtitle Следите за процессом ремонта
						.desc__text Мастера выполняют ремонт в застекленной зоне, а значит, вы можете видеть весь процесс
					.desc__item
						.desc__title.subtitle Следите за процессом ремонта
						.desc__text Мастера выполняют ремонт в застекленной зоне, а значит, вы можете видеть весь процесс
				.desc__controls.controls.--white
					.controls__arrows
					.controls__dots
	.center__right
		.center__imgs
			.center__img.img #[div(style="background-image: url('upload/photos/1.jpg')")]
			.center__img.img #[div(style="background-image: url('upload/photos/1.jpg')")]
			.center__img.img #[div(style="background-image: url('upload/photos/1.jpg')")]
			.center__img.img #[div(style="background-image: url('upload/photos/1.jpg')")]
			.center__img.img #[div(style="background-image: url('upload/photos/1.jpg')")]

.steps
	.case
		.steps__title.title #[span.color-red 6 шагов] до приведения Вашего устройства «в чувства»
		.steps__list.row
			.steps__item
				.steps__icon-wrap
					.steps__icon #[img(src="upload/icons/tapy.svg", alt="")]
					.steps__count 01
				.steps__text Оставляете заявку или приходите к нам в сервисный центр
			.steps__item
				.steps__icon-wrap
					.steps__icon #[img(src="upload/icons/customer-support.svg", alt="")]
					.steps__count 02
				.steps__text Мы согласовываем цену и время
			.steps__item
				.steps__icon-wrap
					.steps__icon #[img(src="upload/icons/smartwatch.svg", alt="")]
					.steps__count 03
				.steps__text Вы привозите устройство в сервис или мастер выезжает к Вам
			.steps__item
				.steps__icon-wrap
					.steps__icon #[img(src="upload/icons/policy.svg", alt="")]
					.steps__count 04
				.steps__text Оформляем договор на ремонт
			.steps__item
				.steps__icon-wrap
					.steps__icon #[img(src="upload/icons/maintenance.svg", alt="")]
					.steps__count 05
				.steps__text Делаем ремонт (по возможности - прямо при Вас) в сервисе или на выезде
			.steps__item
				.steps__icon-wrap
					.steps__icon #[img(src="upload/icons/report.svg", alt="")]
					.steps__count 06
				.steps__text Подписываем акт выполненных работ. Выдаём гарантийный талон и чек
		a.steps__btn.btn.btn.--red.--md(data-fancybox data-src="#popup-order" href="javascript:;") Оставьте заявку на ремонт

		.steps__write.write
			.write__text
				.write__title.subtitle Или напишите нам в месенджер
				.write__desc Напишите нам в мессенджер и мы ответим через минуту!
			.write__socials.socials
				include socials
				

.advantages
	.case
		.advantages__title.title.mid Причины, по которым за 7 лет к нам обратились 1218 клиентов
		.advantages__list.row
			.advantages__item
				.advantages__icon #[img(src="upload/icons/quality.svg", alt="")]
				.advantages__content
					.advantages__name Гарантия от 3 месяцев #[br]по договору
					.advantages__text С каждым клиентом мы составляем официальный договор, в котором прописана гарантия
			.advantages__item
				.advantages__icon #[img(src="upload/icons/piggy-bank.svg", alt="")]
				.advantages__content
					.advantages__name Сохранили нашим клиентам более 750 000 рублей
					.advantages__text В 3 из 10 случаев проблема решается после бесплатной консультации по телефону
			.advantages__item
				.advantages__icon #[img(src="upload/icons/check-mark.svg", alt="")]
				.advantages__content
					.advantages__name Проверенные запчасти высокого качества
					.advantages__text Работаем только с проверенными поставщиками. Знаем, как отличить плохие детали от хороших. 
			.advantages__item
				.advantages__icon #[img(src="upload/icons/analytics.svg", alt="")]
				.advantages__content
					.advantages__name Клиентоориентированность 80 уровня
					.advantages__text Мы служим клиентам, оставляем приятное послевкусие и поэтому к нам возвращаются вновь и вновь.

.free.bg(style="background-image: url('upload/bg/phone-in.jpg')")
	.case
		.free__title.title Возможно, мы решим Вашу поломку бесплатно
		.free__text
			p Напишите в месенджер, чтобы получить бесплатную консультацию.
			p И, возможно, этого будет достаточно для решения проблемы. Так бывает в 70% случаев
		.free__links.row.mid.i-mid
			.free__socials.socials.--white
				include socials
			.free__or или
			a.free__btn.btn.--red.--md(data-fancybox data-src="#popup-order" href="javascript:;") Оставьте заявку

.reviews
	.case
		.reviews__title.title Наши довольные клиенты
		.reviews__list
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/1.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/2.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/1.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/2.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/1.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/2.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/1.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/2.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/1.jpg')")]
			.reviews__item
				.reviews__img.img #[div(style="background-image: url('upload/reviews/2.jpg')")]

		.reviews__controls-wrap
			.reviews__controls.controls
				.controls__arrows
				.controls__dots
.accessories.bg(style="background-image: url('upload/bg/accessories.jpg')")
	.case
		.accessories__title.title В продаже аксессуары для Apple
		.accessories__text В наличии более 100 аксессуаров

.contacts
	.contacts__wrap
		.contacts__title.title.--left Контакты
		.contacts__text
			ul
				li #[strong Телефон:] #[a(href="tel:+79101048577") 8(910) 104-85-77]
				li #[strong Email:] #[a(href="mailto:info.way@yandex.ru") info.way@yandex.ru]
				li #[strong Адрес:] Нижний Новгород, Минина 22/4
				li #[strong Часы работы:] Пн-Вс – 9:00-20:00
		.contacts__socials.socials
			include socials
	.contacts__map
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
		script.
			ymaps.ready(function () {
				var myMap = new ymaps.Map('map', {
					center: [56.326707, (44.022740 - 0.005)],
					zoom: 16,
					controls: []
				}, {
						searchControlProvider: 'yandex#search'
				}),
				MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
						'<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
				),
				myPlacemark = new ymaps.Placemark([56.326707, (44.022740)], {}, {
					iconLayout: 'default#image',
					iconImageHref: 'upload/icons/pin.png',
					iconImageSize: [35, 37],
					iconImageOffset: [-17.5, -37]
				})
				myMap.geoObjects.add(myPlacemark);
				myMap.behaviors.disable('scrollZoom');
			});
		#map